<!-- As a link -->
<nav class="navbar navbar-light" style="background-color:#a1836f;">
  <div class="container">
    <a class="navbar-brand" style="color:#ffffff;" href="/"><strong>Undangan Digital</strong></a>
  </div>
</nav>
