{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>Acara: {{object.judul}}</h2>
  </div>
  <div class="col-lg-6">
    <div style="float:right;">
      Tanggal: {{object.tanggal}}
    </div>
  </div>
</div><hr>
<p style="white-space:pre-line">
  Story: <br>
  {{object.story}}
</p>
<hr>
<div class="row">
  <div class="col-md-6">
    Tempat: {{ object.venue }}
  </div>
  <div class="col-lg-6">
    Alamat: {{object.alamat}}
  </div>
</div>





{% endblock %}
