{% extends 'layout.html' %}
{% block content %}
<div class="container py-4">
  <div class="card card-body mx-auto shadow-sm" style="width:30rem; background-color:#a1836f;">
    <p style="color:white">Cari undangan?</p>
    <form class="d-flex" action="{% url 'CariUndangan' %}" method="get">
      <input class="form-control" type="search" name="kode" placeholder="Masukkan kode undangan untuk mencari undangan...">
      <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <hr>
    <p style="color:white">Ingin membuat undangan?</p>
    <a href="/kelola/undangan" class="btn btn-outline-warning" >Buat Undangan</a>
    <hr>
  </div>
</div>
{% endblock %}
