{% extends 'layout.html' %}
{% block content %}
<div class="container py-4">
  <h1 style="color:#db6400;" class="text-center">{{title}}</h1>
  <hr>
  <div class="card card-body mx-auto" style="width:40rem;">
    <form method="post">{% csrf_token %}
        {% for field in form|slice:":3" %}
        <div class="form-group">
          {{field.label}}
          {{field}}
        </div>
        {% endfor %}<hr>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<script type="text/javascript">
  var input = document.getElementsByTagName('input')
  var textarea = document.getElementsByTagName('textarea')
  var inputTanggal = document.getElementById('id_tanggal')

  inputTanggal.setAttribute("type", "datetime-local");

  for(i = 0; i < input.length; i++){
    input[i].classList.add("form-control")
  }
  for(i = 0; i < textarea.length; i++){
    textarea[i].classList.add("form-control")
  }

  input[2].setAttribute("readonly", "readonly")
  input[2].value = getRandomInt(1000000000, 9999999999)
  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min) + min);
  }

  // input[1].onkeyup = function(){
  //
  //   var text = generateSlug(input[1].value);
  //   input[2].value = text;
  // };

  // function generateSlug(text)
  //   {
  //       return text.toString().toLowerCase()
  //           .replace(/^-+/, '')
  //           .replace(/-+$/, '')
  //           .replace(/\s+/g, '-')
  //           .replace(/\-\-+/g, '-')
  //           .replace(/[^\w\-]+/g, '');
  //   }
</script>
{% endblock %}
