{% extends 'layout.html' %}
{% block content %}
<div class="container py-4" style="color:#db6400;">
  <div class="d-flex justify-content-between">
    <div class="">
      <h1>Daftar Undangan</h1>
    </div>
    <div class="align-self-end">
      <a class="btn btn-primary" href="{% url "undangan_new" %}">Buat Undangan</a>
    </div>
  </div>
  <hr>
  <table class="table table-bordered w-100" style="color:#fff;">
  <thead>
      <tr>
      <th class="w-50">Judul</th>
      <th class="w-25">Kode</th>
      <th class="w-25">Action</th>
      </tr>
  </thead>
  <tbody>
      {% for i in object_list %}
      <tr>
      <td>{{ i.judul }}</td>
      <td>{{ i.kode }}</td>
      <td><a class="btn btn-info btn-sm" href="{% url "undangan_view" i.id %}">Detail</a>
      <a class="btn btn-warning btn-sm" href="{% url "undangan_edit" i.id %}">Edit</a>
      <a class="btn btn-danger btn-sm" href="{% url "undangan_delete" i.id %}">delete</a></td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
